<!-- create2.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create Animation</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Create Animation</h1>
    <form method="post" action="/create2">
      <label for="id_anime">ID:</label>
      <input type="text" id="id_anime" name="id_anime" />
      <br />
      <label for="anime">Animation:</label>
      <input type="text" id="anime" name="anime" />
      <br />
      <input type="submit" value="create" />
    </form>
    <div class="link-center">
      
      <a href="/animations"class="button">Back to List</a>
    </div>
  </body>
</html>
