<!-- create.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create Studio</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Create Studio</h1>
    <form method="post" action="/create">
      <label for="id_studio">ID:</label>
      <input type="text" id="id_studio" name="id_studio" />
      <br />
      <label for="studio">Studio:</label>
      <input type="text" id="studio" name="studio" />
      <br />
      <input type="submit" value="create" />
    </form>
    
      
    </div>
    
    <a href="/studios"class="button">Back to List</a>
  </body>
</html>
